bin
tests/isa/stfs
tests/isa_test_suite/test_files
tests/stf_gen/traces
tests/stf_load_store/temp_traces
tests/stf_load_store/traces
*.o
*.d
snap.*
dromajo
libdromajo_cosim.a
*.swp
tags
build
._.DS_Store
.DS_Store
